


.edit{
          text-align: right;
          font-size: 1rem;
          padding: 0 1rem;
          cursor: pointer;
}
.main-profile{
          padding: 1rem ;
}
.client-profile{
          /* border: 2px solid grey; */
          /* padding: 10px; */
          display: flex;
          justify-content: space-evenly;
}
.client-profile-left{
          background: linear-gradient(to top,white, #ecf0f1);
          border: 2px solid grey;
          border-radius: .25rem;
          padding: 5px;
          width: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          /* background: #f6f6f6; */
          color: grey;
          margin: .5rem;
          box-shadow: 2.5px 2.5px 0px 0px rgba(0, 0, 0, 0.677);
}
.client-profile-right{
  background: linear-gradient(to top,white, #ecf0f1);
          margin:.5rem;
          border: 2px solid grey;
          border-radius: .25rem;
          width: 50%;
          /* background:  #f6f6f6; */
          color: grey;
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.677);
}
.client-img{
          background-color: grey;
          height: 150px;
          width: 150px;
          border-radius: 50%;
}
.client-details{
          font-size: .8rem;
}
.client-details h4{
          margin: .5rem 0;
          color: #e67e22;
}
.client-details h3{
  color: #27ae60;
}
.client-details span{
          color: #1ee494;
}
.card-client-personal{
          width: 100%;
          
}

.profileDetails{
  color: #9b59b6;
}
.profileDetails,.bankDetails,.kyc-details,.guarantor-details,.guarantor-details1 {
  color: white;
  background :linear-gradient(to bottom, #27ae60, #2ecc71);
  border-radius: .15rem;
  padding: .5rem;
  width: fit-content;
  margin: auto;  
}


.card-client-personal li{
          display: flex;
          width: 100%;
          justify-content: space-between;
          font-size: .8rem;
          padding: .5rem;
          margin: 0;
          font-weight: 600;
}
.card-client-personal li:hover{
  background-color: transparent;
}
.text{
          width: 70%;
          color: #27ae60;

}
.text span{
          margin: 0 .3rem;
          font-size: .9rem;
          color: #1ee494;
          /* border: 2px solid red; */
}
.text button{
  padding: .5rem;
  cursor: pointer;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: .25rem;
}
.text button:hover{
  background: #34495e;
  color: white;
}
.client-profile-left .card-client-personal .text{
          width: 60%;
}
.header-title{
          text-align: center;
          font-size: 1rem;
          /* margin: 1rem 0; */
          
}

/* modals */

.profile{
          display: none;
          position: fixed;
          z-index: 5;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background :linear-gradient(to bottom, #27ae60, #2ecc71);
          /* animation: myAnim 3s ease .25s 1 reverse backwards; */
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
.profile-content-box{
  background: linear-gradient(to top, #27ae60, #2ecc71);
  margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 60%;
          color: white;
}
.profile-content{
  background-color: rgba(255, 255, 255, 0.937);
  color: black;
  border: none;
}
label {
  display: block;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #2c3e50;
  border-radius: 3px;
  
}
.close {
          color: #2c3e50;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        .kyc-content{
          background-color: white;
          color: black;
        }
        .bank-content{
          background-color: white;
          color: black;
        }
/* modals */
/* Loan Modals */
.Loan-create {
          width: 40%;
          margin: 0 auto;
          padding: 20px;
          background-color: white;
          border-radius: 5px;
          color:#2c3e50;
        }
        
     .Loan-create   h2 {
          text-align: center;
          font-size: 1rem;
        }
        
        .receipt {
          background-color: #fff;
          border: 1px solid #ddd;
          padding: 10px;
          margin: .5rem 0;
        }
        
        .header {
          text-align: center;
          margin-bottom: 20px;
        }
        
        .header h3{
          margin: .7rem 0;
          font-size: 1rem;
        }
        .content {
          margin-bottom: 20px;
        }
        
        .footer {
          text-align: center;
          padding: .5rem;
        }
        .p-button{
          padding: .5rem 1rem;
          margin: .5rem;
          cursor: pointer;
          border: none;
          font-size: .9rem;
          font-weight: bold;
          border-radius: .2rem;
          color: white;
        }
        .footer textarea{
          outline: none;
          margin: .5rem;
        }
        #approve{
          display: none;
        }
    .receipt-content    p {
          margin: 5px 0;
          font-size: 1rem;
          /* border: 2px solid red; */
          display: flex;
          justify-content: space-between;
        }
        
        strong {
          font-weight: bold;
        }
        
.receipt-content p span{
  color: #1ee494;
}
/* create loan modal */


.container {
          width: 40%;
          margin: 0 auto;
          padding: 20px;
          background: linear-gradient(to bottom, #f1c40f, #2ecc71);
          border: 1px solid #2c3e50;
          border-radius: 5px;
        }
        
        h2 {
          text-align: center;
        }
        
        .form-group {
          margin-bottom: 10px;
        }
        .form-group span{
          font-weight: 800;
          color: #e67e22;
          margin:1rem;
        }
        label {
          display: block;
        }
        
        input[type="text"],
       select
        {
          width: 100%;
          padding: .75rem;
          border: 1px solid #c2c2c2;
          border-radius: 3px;
          /* border: none; */
          outline: #2ecc71;
        }
        .form-group input[type="text"]:focus{
          border: .1rem solid #2ecc71;
        }
        input[type="submit"] {
          width: 100%;
          padding: 1rem;
          background: rgba(0, 0, 0, 0.87);
          color: #fff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
        }
        
        input[type="submit"]:hover {
          background-color: #2c3e50fa;
          color: white;
          transition: all .25s;
        }
        
/*           RM */
#education-loan h2{

}









