:root{
--body: #ffff;
--main-color: #5ea536;
--secondary: #f95738;
--done:green;
--fail:red;
--white:#ffff;
--select: aliceblue;
--input: aliceblue;
--off:grey;
--black:#000000;
--box-shadow: 0 5px 10px rgba(0,0,0,.4);











}