* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/personal.jpg);
   */

  font-family: 'lato', 'Roboto', sans-serif;
  background-size: cover;
  background: linear-gradient(to top,white, #ecf0f1);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 62.5%;
}

.hide {
  display: none;
}

.table-content {
  display: block;
  text-align: left;
  padding: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(./images/personal.jpg); */
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* new app */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color:white;
  border-bottom: 2px solid #616060;;
  color: var(--white);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #616060;
  /* background-color: grey; */
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}

.welcome p {
  font-size: clamp(1.6rem,2vw,2.4rem);
  color: #2c3e50;
}

.id p {
  /* border: 2px solid red; */
  display: inline-block;
  text-align: center;
  font-size: clamp(1.6rem,2vw,1.25rem);
  color: #2c3e50;
}

.image {
  height: clamp(1.5rem,5vw,3.8rem);
  width: clamp(1.5rem,5vw,3.8rem);
  border-radius: 50%;
  background-color: grey;
}

.body-content {
  display: flex;
  margin-top: 4rem;
  /* height: 135vh; */
  justify-content: space-between;
}

.box-card {
  width: 91.5%;
  margin: 0;
  /* border: 3px solid red; */

}

nav {
  /* background: linear-gradient(to top left,#2c3e50b7, #27ae60); */
  width: 7%;
}

nav ul {
  background: linear-gradient(to top,#2c3e508a, white);
  position: fixed;
  height: 100%;
  width: fit-content;
  border: 2px solid #616060;
  padding: 1rem .5rem;
}

ul li {
  list-style: none;
  padding: 10px;
  color: #2ecc71;
  border: 2px solid #616060;
  /* background-color: rgb(168, 167, 167); */
  border-radius: .25rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  font-size: .8rem;
  width: 100%;
  margin: 2rem 0;
}

ul li i {
  margin: .5rem;
  cursor: pointer;
}

ul li span {
  text-align: left;
}

ul li a {
  color: rgba(33, 32, 32, 0.884);
  text-decoration: none;
}

li:hover{
  background-color: #2c3e508a;
  transition: all 0.3s;
}
.nav {
  display: none;
  font-size: 2rem;
  color: white;
  padding: .5rem;
  background-color: black;

}

#closePopup {
  display: none;
}

.active1 {
  /* background-color: rgb(22, 22, 120); */
  color: white;
  border-bottom: 5px solid rgb(44, 44, 44);
}

.loan-card-head h2 {
  font-size: 1.9rem;
  text-align: left;
  /* margin: 1rem 0; */
  padding: 1rem;
}

.card-flexs {
  display: flex;
  justify-content: space-around;
}

#personal {
  background: #2c3e50;
  background-size: cover;
  border: none;
  border-radius: .15rem;
  width: 45%;
  text-align: center;
  box-shadow: var(--box-shadow);
}

#bussiness {
  background: #16a085;
  background-size: cover;
  border: none;
  border-radius: .15rem;
  width: 45%;
  text-align: center;
  box-shadow: var(--box-shadow);
}

#house {
  background: #7f8c8d;
  background-size: cover;
  border: none;
  border-radius: .15rem;
  width: 45%;
  text-align: center;
  box-shadow: var(--box-shadow);
}

#education {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  background-size: cover;
  border: none;
  border-radius: .15rem;
  width: 45%;
  box-shadow: var(--box-shadow);
  text-align: center;
}


#personal p,
#bussiness p,
#house p,
#education p {
  color: white;
  margin: .7rem 0;
  font-size: 1rem;
}

#Amount {
  background-color: #f39c12;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;
}

#calendar {
  background-color: #2ecc71;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;
}

#due {
  background: #e74c3c;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;

}

#interest {
  background: #27ae60;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;
}

#total {
  background: #1abc9c;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;

}

#time {
  background: #3498db;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;
}

#status {
  background: #d35400;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;

}

#months {
  background: #2c3e50;
  background-size: cover;
  color: var(--white);
  border-radius: .15rem;
  border: none;
  width: 45%;
  text-align: center;


}

.note {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: clip;
  padding: .15rem;
  height: 20rem;
  background-color: white;
  color: #27ae60;
}

#note p {
  font-size: 1rem;
  color: #2c3e50;
  margin: auto;
}

.card button {
  padding: .75rem 1.3rem;
  cursor: pointer;
  background: #2c3e50;
  color: white;
  border: none;
  width: 100%;
  border-radius: .15rem;
}

.card button:hover{
  background: rgb(27, 27, 27);
  color: white;
  transition: all .3s;
}
.loan-card {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
}

.card {
  border: 1px solid rgb(4, 4, 99);
  /* padding: 1rem; */
  width: 100%;
  margin: .5rem 0;
}

.card p {
  font-size: 1.5rem;
  font-weight: 800;

}

.card p span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  text-align: left;
}

.card-percent {
  margin: .5rem .2rem;
}

.card-percent p {
  font-size: 1rem;
  color: #2c3e50;
}

.percent {
  border: 1px solid white;
  border-radius: .15rem;
}

.range {
  width: 70%;
  background: linear-gradient(89.9deg, rgb(255, 18, 18) -2.8%, rgb(252, 246, 19) 50.8%, rgb(0, 159, 8) 107.9%);
  height: 1rem;
  border-radius: .15rem;
}

.history {
  padding: 1rem;
}

.apply-loan {
  padding: 1rem;
  border: 1px solid #27ae60;
  background: linear-gradient(to right,#27ae60, #2c3e50);
  border-radius: .25rem;

}

.apply-loan button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  background-color: white;
  color: black;
}

.apply-loan button:hover {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all .5sec;
  padding: 1rem 1.5rem;
  background: #eee;
  color: black;

}

.apply-loans {
  display: flex;
  justify-content: space-around;
  padding: 1rem;

}

.search-form {
  width: 30%;
}

.search-form input,
select {
  padding: .5rem;
  height: 50px;
  outline: none;
  width: 100%;
}

.search-form button {
  background: linear-gradient(to bottom, #f1c40f, #2ecc71);
  color: white;
  border-radius: .2rem;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.loan-head {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  color: #2c3e50;
}

.history p {
  font-size: 1rem;
}

.table {
  /* height: 90vh; */
  overflow: auto;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 1rem;
  background-color: white;

}

thead {
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;

  /* border: 1px solid rgba(62, 137, 20, 0.6); */

}

th {
  text-align: center;
  color: #2c3e50;
  padding: 20px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  /* width: 20%; */
  border: 1px solid #27ae60;
  background-color: #ccc;

  position: sticky;
  top: 0;

}

tr {
  width: 100%;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
}

td {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  padding: .5rem;
  border: 1px solid rgb(22, 22, 120);
}

td i {
  cursor: pointer;
}

td a {
  text-decoration: none;
  color: black;
}


.profile,
.profile-bank {
  padding: 1rem;
  width: 100%;
}

.profile-content {
  border: 1px solid grey;
  margin: 1rem 0;
}

.profile-image {
  background-color: grey;
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

.proile-image-head {
  align-content: center;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.profile-image input {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.profile p {
  font-size: 1rem;
}

.profile-input {
  /* border: 2px solid black; */
  text-align: center;
  margin: auto;
  padding: .7rem;
  /* display: flex; */
  width: 100%;
}
.profile-input input{
  width: 100%;
}
.profile-input:focus{
  border-color: #27ae60;
}

.bank-input {
  /* display: flex; */
  text-align: center;
  padding: .7rem;
}

.kyc-input {
  /* display: flex; */
  text-align: center;
  padding: .7rem;
}

.password-input {
  text-align: center;
  padding: 3rem;
  display: flex;
  justify-content: center;

}

.password-content {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
}

.password-input label {
  text-align: center;
  margin: 1rem 0;

}

label {
  font-size: 1rem;
  /* width: 50%; */

}

input,
select {
  padding: .5rem;
  font-size: 1rem;
  width: 70%;
}



/* All loans */
.loan-status {
  display: flex;
  justify-content: space-around;
}

.loan-status button {
  padding: 1rem;
  border: transparent;
  cursor: pointer;
  width: 100%;
}

.loan-status-b {
  width: 20%;
}

.home {
  display: none;
}

.card-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer{
  padding: 5rem;
  background:linear-gradient(to left,#2c3e50,#2ecc71) ;
}