* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'lato', 'Roboto', sans-serif;
  
  /* background-color: #f2f2f2; */
  scroll-behavior: smooth;
  overflow: auto;

}

header {
  /* padding: .5rem; */
  /* -webkit-clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 68%, 0 50%, 0 0);
clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 68%, 0 50%, 0 0); */
  background: linear-gradient(to top, #124b2a, #2ecc71);
  display: flex;
  /* color: rgba(33, 32, 32, 0.884); */
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;

}

.logo {
  width: 10%;
  background-color: grey;
  height: 60px;
  z-index: 1000;
}

nav {
  width: 100%;
  padding: .5rem;

}

nav.show {
  display: block;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: .5rem;
}

nav ul li {
  list-style: none;
  padding: .5rem;
  /* border: 2px solid rgb(22, 22, 120); */
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: .3rem;
  border: none;
  border-radius: .35rem;

}

nav ul a:hover {
  color: rgb(22, 22, 120);
  background-color: white;

}

.nav {
  display: none;
}

#signs {
  border-bottom: 3px solid white;
}

#signs:hover {
  border-bottom: 3px solid #2c3e50;
  background-color: white;
}

#closePopup {
  display: none;
  font-size: 2rem;
  text-align: right;
  padding: .1rem;
}

.banner {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 90%, 0 0);
clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 90%, 0 0);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.541)), url(../images/personal.jpg);
  background-size: cover;
  background-position: center;

}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #2ecc71;
}

.form-group input[type="text"],
input[type="email"],
textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: #dadada;

}

.form-group select {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.swiper-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  height: 40px;
  color: #2ecc71;
  /* background: ; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  /* z-index: .8; */
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.content {
  padding: 2rem;
}

.content h3 {
  font-size: 4rem;
  color: white;
  margin: 1rem 0;
}

.content p {
  text-align: center;
  color: white;
  margin: 1rem 0;
}

.btn {
  text-align: center;
  padding: 1rem;
}

.btn button {
  padding: .8rem 1.3rem;
  border-radius: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
  margin: 0 .5rem;
}

.btn button:hover {
  /* background-color: rgb(22, 22, 120); */
  color: white;
}

.reason {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;

}

.reason-head,
.services-head {
  width: 80%;

}

.reason-head h3,
.services-head h3 {
  font-size: 2rem;
  color: #2ecc71;
  text-align: center;
  margin: 1rem 0;
}

.reason-head p,
.services-head p {
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  color: #2c3e50dc;
  font-size: 1rem;

}

.underline {
  display: flex;
  justify-content: center;
}

.underline p {
  color: #353d46c0;
  margin: .5rem 0;
  width: 20%;
  border-bottom: 3px solid #2c3e50c9;
  text-align: center;
}

.reason-box {
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/due.jpg);
  background-size: contain;
  padding: 1rem;
  width: 85%;
  display: flex;
  /* border: #2ecc71 .2rem solid; */
  border-radius: .25rem;
  /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 83%, 6% 99%, 0 100%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 83%, 6% 99%, 0 100%, 0 0); */
}

/* .reason-left {
  width: 54%;
  background-image: url(./images/due.jpg);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 83%, 6% 99%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 83%, 6% 99%, 0 100%, 0 0);
  padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;
} */

.reason-right {
  /* width: 60%; */
}

.reason-card-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.reason-card {
  width: 30%;
  padding: 2rem;
  word-wrap: break-word;
  font-size: .9rem;
  color: white;
  background: linear-gradient(to top, #124b2a, #2ecc71);
  text-align: center;
  border-radius: .5rem;
  text-align: left;
  position: relative;
  z-index: 10;
}

.reason-card h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;


}

.services-card-box {
  width: 85%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.services-card {
  padding: 1rem;
  box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
  -webkit-box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
  width: 20%;
  text-align: center;
  border: 2px solid #2ecc71;
  color: black;
  /* background-color: rgb(22, 22, 120); */
  border-radius: .3rem;
}

.card-head {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-head p {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  /* background-color: white; */
}

.card-head p i {
  color: #2c3e50;
  font-size: 2rem;
}

.services-card h3 {
  font-size: 1.6rem;
  margin: .5rem 0;
  color: #2c3e50;
}

.services-card p {
  font-size: 1rem;
}

.loan-calculator {
  /* border: 2px solid green; */
  width: 45%;
}

.calculator-box {
  /* width: 100%; */
  margin: 0;
  padding: 2rem;
  background: linear-gradient(to top, #124b2a, #2ecc71);
  /* border: 1px solid #ccc; */

  text-align: center;
  display: flex;
  justify-content: space-around;
}

.loan-calculator h2 {
  font-size: 1.5rem;
  color: rgb(22, 22, 120);
}

.calc {
  /* border: 2px solid rgb(22, 22, 120); */
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: .3rem;
  text-align: left;
}

.loan-calculator button {
  padding: 1rem 2rem;
  width: 50%;
  cursor: pointer;
  background: linear-gradient(to top, #124b2a, #2ecc71);
  color: white;
  border-radius: .3rem;
  border: none;
  font-size: 1rem;
  font-weight: bolder;
  /* border: 2px solid rgb(22, 22, 120); */

}

.loan-calculator button:hover {
  background-color: #2ecc71;
  color: white;
  /* border: 2px solid rgb(22, 22, 120); */

}

.loan-calculator .form-group {
  margin: 2rem 0;
}

.result {
  width: 30%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  padding: 2rem;
  margin-right: 2rem;
  /* border: 2px solid blue; */
  border-radius: .3rem;
}

.result h3 {
  margin: .5rem 0;
  font-size: 2rem;
  color: white;
}

.result p {
  margin: .7rem 0;
  text-align: left;
  font-size: 1rem;
  border-radius: .3rem;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  background-color: white;
  transform: skew(10deg);
}

.result p span {
  text-align: center;
  border: 2px solid #2ecc71;
  border-radius: .1rem;
  width: 40%;
  color: #1d1d1d;
  padding: .5rem;
  font-weight: 600;
  background-color: #2ecc71;
  transform: skew(-10deg);
}

input[type="range"] {
  width: 100%;
}

.about-box {
  width: 85%;
  padding: 2rem;
  display: flex;
}

.about-left {
  background-image: url(./images/duration.jpg);
  background-size: cover;
  width: 70%;
}

.about-right {
  background: linear-gradient(to top, #124b2a, #2ecc71);
  padding: 1rem;
  width: 30%;
}

.about-card-box {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)); */
  padding: 1rem;
  gap: 1rem;
  color: white;
}

.about-card-box h2 {
  background: linear-gradient(to top, #124b2a, #2ecc71);
  border-radius: .15rem;
  font-size: 2rem;
  margin: 1rem 0;
}

.about-card-box p {
  font-size: 1rem;
  margin: 1rem 0;
}

.customer {
  background: linear-gradient(to top, #124b2a, #2ecc71);
  /* margin: 1rem 3rem; */
  padding: 1rem 4rem 4rem 4rem;
}

.customer-head {
  width: 100%;
  margin: 1rem 0;
}

.customer-head h3 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  color: white;
}

.customer-head p {
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  color: white;
  font-size: 1rem;

}

.testimonials-container {
  
  -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 100%, 1% 23%);
  clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 100%, 1% 23%);
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial-card {
  box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
-webkit-box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
-moz-box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
  background-color: #f5f5f5;
  padding: 3rem;
  text-align: center;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.customer-name {
  font-size: 1rem;
  margin-bottom: 10px;
}

.rating {
  color: orange;
  margin-bottom: 10px;
}

.testimony {
  margin-bottom: 1rem;
  font-size: .8rem;
  word-wrap: break-word;
}

.swiper-paginations {
  color: black;
  text-align: center;
  font-size: 1rem;
}

.swiper-paginations-bullet {
  background-color: white;
}

.swiper-paginations-bullet-active {
  background-color: white;
}




.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.contact-box {
  padding: 1rem 0;
  width: 85%;
  display: flex;
}

.contact-left {
  
  width: 60%;
  text-align: left;
  padding: 1rem;

}

.contact-left form {
  box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
-webkit-box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
-moz-box-shadow: 2px 3px 21px -1px rgba(0,0,0,0.7);
border-radius: .25rem;
  margin: auto;
  align-content: center;
  padding: 1rem;
}

.contact-left h2 {
  background: linear-gradient(to top, #124b2a, #2ecc71);
  font-size: 1.5rem;
  text-align: left;
  padding: .5rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.89);

}
.contact-left form input{
  margin: auto;
}
.contact-left .btn {
  width: 70%;

}

.contact-left button {
  background: linear-gradient(to top, #124b2a, #2ecc71);
  color: white;
  border-radius: .25rem;
  border: none;
}

.contact-right {
  width: 60%;
  /* border: 2px solid red; */
  max-height: 600px;
  padding: auto;
  background-image: url(./images/contactus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6rem;
}

footer {
  background: linear-gradient(to top, #124b2a, #2ecc71);
  padding: 2rem;
}

.foot-box {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

}

.foot-card {
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  width: 20%;
  text-align: center;
  word-wrap: break-word;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

.foot-card .logo {
  width: 50%;
}

.foot-card h3 {
  background-color: #124b2a;
  border-radius: .25rem;
  font-size: 1.5rem;
  margin: .7rem 0;
}

.foot-card ul li {
  list-style: none;
}

.foot-card p i {
  font-size: 1.4rem;
  margin: 0 1rem;
}